<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>
<body>
	<h2>Login</h2>
	<form action="/login" method="post">
		<table>
			<tr>
				<th>Username</th>
				<th>
					<input type="text" name="username">
				</th>
			</tr>
			<tr>
				<th>Password</th>
				<th>
					<input type="password" name="password">
				</th>
			</tr>
			<tr>
				<th colspan="2">
					<button type="submit">Login</button>
				</th>
			</tr>
		</table>
	</form>
</body>
</html>